
body { background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
line-height: 1.7; align-items: center;}
h1{text-align: center; }
h1{color: rgb(4, 4, 4); }




a{ color: black;}


    
header { width: ; }

header  { background-color: rgb(161, 48, 48);
color: black;
padding: 1rem;
width: 100%;
max-width: 800px;
text-align: center;
font-size: 1em;
border-radius: 100px;
margin-bottom: 2px;
border: 2px solid ;}

    
    nav {width: 100%;
    height: 60px;
    text-align: center;
    }
    h2{text-align: center; }

section {  width: 600px;
height: 200px ;}


table {width: 300px;
text-align: justify;border-collapse: collapse; }



nav a { margin-right: 60px; }

h2{ text-align: left;}
article { text-align: left;
width: 100%;}


img {float: right;
margin: right 100px; ;}

img{ float: right;}
    



 

